* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

html, body, #root, .app {
  width: 100%;
  height: 100%;
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #9B59B6;
}

.app__logo {
  position: absolute;
  font-size: 60px;
  top: 12px;
  text-align: center;
  transition: all 0.1s ease-in;
  cursor: pointer;
  color: white;
  left: 0;
  right: 0;
}

.app__logo:hover {
  transform: scale(1.1);
}

.app__image {
  position: relative;
}

.app__input {
  display: flex;
  flex-direction: column;
}

.app__input__text {
  padding: 16px 12px;
  border-radius: 4px;
  border: 0;
  font-size: 20px;
  width: 360px;
  text-align: center;
}

.app__input__text:focus,
.app__input__text:active,
.app__input__submit:focus,
.app__input__submit:active {
  border-color: #9B59B6;
  box-shadow: 0 0 7px rgba(39, 128, 248, .15);
  outline-offset: 0;
  outline: 0;
}

.app__input__submit:hover {
  opacity: 0.9;
}
.app__input__submit:focus:active {
  transform: scale(0.98);
}

.app__input__submit {
  padding: 12px;
  border-radius: 4px;
  background-color: white;
  color: #9B59B6;
  font-weight: bold;
  border: 0;
  margin-top: 20px;
  font-size: 20px;
  cursor: pointer;
  align-self: center;
  transition: all 0.1s ease-in;
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.15);
}


@media screen and (max-width: 848px) {
  .app {
    flex-direction: column;
  }

  .app__logo {
    font-size: 48px;
    top: 8px;
  }

  .app__input__submit {
    margin-top: 12px;
    align-self: auto;
  }
}

@media screen and (max-width: 375px) {
  .app__input__text {
    width: 320px;
  }
}
